*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue: rgb(34, 137, 141);
    
  }
  
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    background-color: var(--blue);
    height: 80px;
    color: white;
}
.menu{
    list-style-type: none;
    display: flex;
    color: white;
    font-size: 1.2vw;
}
.menu-item{
    margin-right: 30px;
}
.details{
    /* background-image: url(./images/photo-1518655048521-f130df041f66.jpg); */
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
}
.details-text{
    font-size: 2em;
}
.button{
    margin-top: 20px;
    
}
.button button{
    margin-right: 30px;
    padding: 10px 10px;
    background-color: rgb(166, 133, 196);
    border-radius: 6px;

}
.details-image{
    border-radius: 50%;
}
.education{
    background-color: var(--blue);
    color: white;
    padding: 5vw 3vw;
}
.edu-heading{
    font-size: 2.5rem;
}
.university{
    display: flex;
    align-items: center;
}
.uni-title{
    font-size: 2rem;
}
.uni-desc{
    font-size: 1.5rem;
}
.university{
    padding: 30px 0px;
}
.university img{
    margin-right: 20px;
}
.project-section{
    background-color: var(--blue);
    color: white;
    padding: 3vw 3vw;
}
.projects{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.single-proj{
    width: 20vw;
    height: 400px;
    padding: 3vw;
    text-align: center;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    
}
.single-proj:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 white;
}

.single-proj h2{
    margin-top: 10px;
}
.single-proj .live{
    margin-top: 10px;
    background-color: rgb(115, 65, 161);
    color: white;
    border: none;
    padding: 2% 4%;
    border-radius: 5px;

}

@media only screen and (max-width: 1250px) {
  .menu{
    font-size: 2vw;
  }
}    
@media only screen and (max-width: 1050px) {
    .details-image{
      display: none;
    }
.button{
    display: flex;
    justify-content: center;
}
.details-text{
        font-size: 3vw;
        text-align: center;
    }
.uni-title{
        font-size: 1.5rem;
    }
.uni-desc{
        font-size: 1.3rem;}
        
@media only screen and (max-width: 850px) {
    .menu{
      font-size: 1.5vw;
    }
 .single-proj img{
        width: 15vw; height: 15vw;
        }
.single-proj{
            height: 300px;
        }
/* .button button{
    font-size: 0.6rem; */

}
     
@media only screen and (max-width: 600px) {
        .menu{
          font-size: 1.5vw;}
.uni-title{
            font-size: 1.3rem;
        }
.uni-desc{
            font-size: 1rem;}
.edu-heading{
    text-align: center;
}
.university img{
    width: 20%;
}
.button button{
    font-size: 0.6rem;}
 .single-proj img{
    width: 15vw; height: 15vw;
    }
.single-proj{
    height: 250px;
}